@use 'sass:color';
$fuentePrincipal: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  'Helvetica Neue', sans-serif;
$fuenteMono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$fuentePrincipalPeso: 400;
$fuentePrincipalBold: 700;
$colorPrincipal: #5757f7;
$color1: #623c97;
$color2: #e7e057;
$color3: #f7932e;
$color4: #2fc1d5;
$color5: #767a7d;
$color6: #ffffff;
$color7: #000f2e;

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

blockquote,
dl,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
time {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fuentePrincipal;
  font-weight: $fuentePrincipalBold;
}

body {
  background: rgba(98, 60, 151, 0.1);
  background: linear-gradient(
    180deg,
    rgba(98, 60, 151, 0.1) 26%,
    rgba(247, 147, 46, 0.1) 65%,
    rgba(231, 224, 87, 0.1) 100%
  );
  min-height: 100vh;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

ol,
ul {
  // list-style: none;
  // margin: 0;
  // padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

body {
  font-family: $fuentePrincipal;
  font-weight: $fuentePrincipalPeso;
}

a,
a:link {
  text-decoration: none;
}

::selection {
  background-color: color.scale($color2, $lightness: 50%);
  color: black;
}

p {
  line-height: 1.6;
  margin: 1.5em 0;
}

article {
  margin: 1em;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 1em;
}
